* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #f5f5f5;
}
nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid #cccccc;
    z-index: 2;
}

nav .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .left .search_box {
    background: #efefef;
    border-radius: 30px;
    height: 40px;
    width: 250px;
    line-height: 40px;
}

nav .left .search_box img {
    line-height: 50px;
    font-size: 19px;
    margin-left: 8px;
} 

nav .left .search_box input {
    background: transparent;
    outline: none;
    border: 0;
    padding: 5px;
    font-size: 15px;
}

nav .center {
    position: relative;
    width: 75%;
    margin-left: 8%;
    
}

nav .center img {
    margin: 0 100px 0 100px;
}

nav .center img:hover {
    color: #45abff;
    cursor: pointer;
}

nav .right {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    /* background: #45abff; */
}

nav .right img {
    border-radius: 50%;
    background-color: #efefef;
    line-height: 35px;
    cursor: pointer;
    font-size: 18px;
    object-fit: cover;
    width: 24px;
    height: 24px;
}
nav .right .rightimgback{
    border-radius: 100%;
    background: #f5f5f5;
    margin: 0px;
}

.main {
    width: 100%; 
    display: flex; /* Use flex layout to manage columns */
    margin-top: 60px;
    position: absolute;
    overflow-y: auto;
    height:  calc(100vh-60px);
  
}

.main .left {
    width: 25%; /* Adjust the width as needed */
    /* background: #cccccc; */
    /* border: 1px solid blue; */
    overflow: hidden;
    overflow-y: scroll;
    background: #f5f5f5;
    padding: 20px 6px 5px 10px;
    position: fixed;
    height: 92vh;
    /* height: %; */
}
.main .left::-webkit-scrollbar{
  width: 7px;
}
.main .left .img{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.main .left p{
    font-family: inherit;
    font-size: 0.937rem;
    font-weight: bold;
}
.main .left .img:hover{
    background: #e3e3e3;
}
.main .left .img img{
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    width: 40px;
    height: 40px;
    margin: 8px 15px 8px 0;
}
.main .left hr{
    width: 100%;
    line-height: 1px;
    margin: 10px 0;
}
.main .left h6{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}
.main .center{
    width: 50%;
    height: 92vh;
   /* position: relative; */
   margin-left: 25%;
    /* border: 1px solid red; */
    padding: 20px 20px 0 20px;
    background: #f5f5f5;
    z-index: 1;
}
.main .center::-webkit-scrollbar{
    width: 0;
}

.main .center .top_box{
   display: grid;
   /* border: 1px solid #ff0000; */
   height: 30vh;
   width: 100%;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
   gap: 7px
}
.main .center .top_box .my_story_card{
    overflow: hidden;
    /* margin:0 auto; */
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 29vh;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;

}
.main .center .top_box .my_story_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  /* box-shadow: 0px 1px 8px rgba(0,0,0,0.2); */
  
  /* height: 100%; */
  /* position: absolute; */
}
.main .center .top_box .my_story_card .story_upload {
  /* width: 100%; */
  /* height: 60v; */
  /* position: relative; */
  width: 100%;
  height: 60px;
  background: #fff;
  position: relative;
  bottom: 50px;
  cursor: pointer;
}
.main .center .top_box .my_story_card .story_upload img{
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    bottom: 15px;
}

.main .center .top_box .my_story_card .story_upload .story_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}
.main .center .top_box .story_card{
    overflow: hidden;
    /* margin:0 auto; */
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 29vh;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;

}
.main .center .top_box .story_card img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.main .center .top_box .story_card .story_profile{
    position: relative;
    bottom: 240px;
    margin-left: 10px;
}
.main .center .top_box .story_card .story_profile img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 4px solid #45abff

}
.main .center .top_box .story_card  .story_name{
    bottom: 80px;
    position: relative;
    color: #fff;
    left:3px
}
.main .center .my_post{
    width: 100%;
    background:#fff;
    height: 13vh;
    border-radius: 7px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
    padding: 10px 15px;
    margin: 10px 0
}
.main .center .my_post .post_top{
  display: flex;
  align-items: center;
}
.main .center .my_post .post_top img{
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    width: 40px;
    height: 40px;
    margin: 8px 15px 8px 0;
}
.main .center .my_post .post_top input{
    width: 90%;
    padding: 12px;
    border: 0;
    outline: none;
    background: #efefef;
    border-radius: 30px;
    font-size: 17px;
}
.main .center .my_post  hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin:5px 0;
}
.main .center .my_post .post_bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.main .center .my_post .post_bottom .post_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
} 
.main .center .my_post .post_bottom .post_icon :hover{
    background: #efefef;
}
.main .center .my_post .post_bottom .post_icon p{
    margin-left: 10px;
    font-weight: bold;
    color: grey;
    font-family: inherit;
    /* margin-top: 4px; */
}
.main .center .room{
    width: 100%;
    background:#fff;
    height: 8vh;
    border-radius: 7px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
    padding: 10px 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.main .center .room .room_image{
    display: flex;
    align-items: center;
    border: 1px solid #45abff;
    padding: 10px;
    border-radius: 30px;
    margin-right: 5px;
}
.main .center .room .room_image:hover{
    background: #efefef;
}
.main .center .room .room_image img{
  width: 25px;
  margin-right: 8px;
}
.main .center .room .room_image p{
    color: blue;
}
.main .center .room .room_profile img{
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    width: 45px;
    height: 45px;
    margin: 0px 8px;
    border: 3px solid #45abff;
} 
.main .center .friends_post{
  margin: 10px 0;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px 15px;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}
.main .center .friends_post .img_and_name img{
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    width: 40px;
    height: 40px;
    margin: 8px 15px 8px 0;
}
.main .center .friends_post .img_and_name{
    display: flex;
    align-items: center;
   justify-content: space-between;
}
.main .center .friends_post .friend_post_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .center .friends_post .img_and_name .friends_name .friends_name{
   font-weight: bold;
   cursor: pointer;
}
.main .center .friends_post .img_and_name .menu{
    margin-left: 700px;
}
.main .center .friends_post .img_and_name .friends_name .friends_name:hover{
    text-decoration: underline;
}
.main .center .friends_post .img_and_name .friends_name .time{
    font-size: 14px;
    color: #919191;
    margin:3px 0;
}
.main .center .friends_post img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.main .center .friends_post .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px 0;
}
.main .center .friends_post .info .emoji_img{
    display: flex;
}
.main .center .friends_post .info .emoji_img img{
    width:20px;
    height: 20px;
}
.main .center .friends_post .info .emoji_img p{
    margin-left: 10px;
    font-size: 16px;
    color:#919191
}
.main .center .friends_post .info .comments{
    display: flex;
    align-items: center;
}
.main .center .friends_post .info .comments p{
    padding: 0 8px;
    font-size: 15px;
    color: #959595;
}
.main .center .friends_post hr{
    margin:5px 0
}
.main .center .friends_post .like{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.main .center .friends_post .like .like_icon {
    display: flex;
    align-items: center;
   
}
.main .center .friends_post .like .like_icon p{
    font-family: inherit;
    color: grey;
    font-weight: bold;
    margin-left: 5px;
}
.main .center .friends_post .like .comment_icon {
    display: flex;
    align-items: center;
   
}
.main .center .friends_post .like .comment_icon p{
    font-family: inherit;
    color: grey;
    font-weight: bold;
    margin-left: 5px;
   
}
.main .center .friends_post .like .share_icon {
    display: flex;
    align-items: center;
   
}
.main .center .friends_post .like .share_icon p{
    font-family: inherit;
    color: grey;
    font-weight: bold;
    margin-left: 5px;
}
.main .center .friends_post .like .like_icon img{
    display: flex;
    align-items: center;
    font-size: 9px;

    height: 24px;
    width: 24px;
}
.main .center .friends_post .like .comment_icon img{
    display: flex;
    align-items: center;
    font-size: 9px;
    height: 24px;
    width: 24px;
}
.main .center .friends_post .like .share_icon img{
    display: flex;
    align-items: center;
    font-size: 9px;

    height: 24px;
    width: 24px;
}
.main .right{
    width: 19%;
    height: 92vh;
    position: fixed;
    overflow-y: scroll;
    padding: 20px 10px 5px 6px;
    right:0;
    background: #f5f5f5;
}
.main .right::-webkit-scrollbar{
    width: 7px;
}
.main .right ::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}
.main .right .thridWrapper .contact_tag{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .right .thridWrapper .contact{
    display: flex;
    align-items: center;   
}
/* .main .right .thridWrapper .contact .contacts_profile{
    position: relative;
} */
/* .main .right .thridWrapper .contact .contacts_profile .circle{
    position: relative;
    width:'4px';
    height: '4px';
    border-radius: 50%;
    background: #27cc33;
    border: 1px solid red;
    bottom: 15px;
    left: 25px;
} */
.main .right .thridWrapper .contact img{
  object-fit: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-position: center;
  margin: 8px 15px 8px 0;
  cursor: pointer;
}
.main .right .thridWrapper .contact_tag .contact_icon img{
    margin: 0 5px;
}
.main .right .thridWrapper .contact p{
   font-family: inherit;
   font-size: 0.937rem;
   font-weight: bold;

}
.main .right .thridWrapper .contact_tag h2{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}